
$font-sans: 'Inter', system-ui, sans-serif;


// ===============================
// 🔠 Escala tipográfica (responsive con clamp)
// ===============================
$font-xs: clamp(0.625rem, 0.7vw, 0.6875rem);    // ~10–11px
$font-sm: clamp(0.6875rem, 0.8vw, 0.75rem);     // ~11–12px
$font-base: clamp(0.75rem, 1vw, 0.875rem);      // ~12–14px
$font-md: clamp(0.875rem, 1.1vw, 1rem);         // ~14–16px
$font-lg: clamp(1rem, 1.3vw, 1.125rem);         // ~16–18px
$font-xl: clamp(1.125rem, 1.8vw, 1.25rem); 
// ===============================
// 📄 Estilos globales
// ===============================
body {
  font-family: $font-sans;
  font-size: $font-base;
  line-height: 1.5;
}

p{
  margin: 0 !important;
  padding: 0 !important;
}
tbody{
  td{
    padding:.5vh !important;
  }
}

.card-header{
  padding: 0;
  padding: .8vh;
  text-transform: uppercase;
  font-size: $font-sm;
  font-weight: 500;
}

// ===============================
// 🔤 Clases utilitarias de texto
// ===============================

// Título principal (página)
.text-page-title {
  font-size: $font-xl;
  font-weight: 600;
}

// Subtítulo o título de lista
.text-subtitle {
  font-size: $font-md;
  font-weight: 500;
}

// Texto base
.text-body {
  font-size: $font-base ;
  font-weight: 400;
}

// Texto pequeño o informativo
.text-hint {
  font-size: $font-sm;
}

// Etiquetas o labels
.text-label {
  font-size: $font-xs;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;

}
